<h1>Liste des articles</h1>

<div class="buttons">
  <button routerLink="/new">Create</button>
  <button *ngIf="selectedList.length > 0" (click)="delete()">Delete</button>
</div>
<div class="table">
  <div class="header row">
    <div class="cell name">Nom</div>
    <div class="cell price">Prix</div>
  </div>
  <div class="body">
    <div *ngFor="let article of articleService.articles | async" class="row" (click)="select($event)" [id]="article._id">
      <div class="cell name">{{ article.name }}</div>
      <div class="cell price">{{ article.price }}</div>
    </div>
  </div>
</div>
