:host {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

form {
  width: 25em;
  display: flex;
  flex-flow: column;
}

label {
  margin-bottom: 0.5em;
}

input {
  display: flex;
  width: 100%;
}

button {
  margin-top: 1em;
}
